
<beans xmlns = "http://www.springframework.org/schema/beans" 
xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="prod" class="com.Product">
     
     <property name="pid"><value>1</value></property>
     <property name="pname"><value>Soap</value></property>
    <property name="price"><value>100</value></property>
     <property name="pdesc"><value>Cloth</value></property>
     
   </bean>
	
</beans>